<li class="nav-item">
    <a class="nav-link {% if node.item.named_url == current_url %}active{% endif %}"
       href="{% if node.item.named_url %}{% url node.item.named_url %}{% else %}{{ node.item.url }}{% endif %}">
        {{ node.item.name }}
    </a>
    {% if node.children %}
        <ul class="nav flex-column ml-3">
            {% for child in node.children %}
                {% include 'menu/menu_item.html' with node=child current_url=current_url %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
